.ft05 {
    margin-bottom: 0 !important;
}
.ft01{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen 
and (min-width: 1000px)
and (orientation: portrait) {
    .ft01 { font-size: 48px; }
    .ft02 { font-size: 35px; }
    .ft03 { font-size: 19px; } 
    .ft04 { font-size: 29px; } 
    .ft05 { font-size: 29px !important; } 
    .ft06 { 
        font-size: 29px !important;
        line-height: 25px;
     } 
    .responseSize{ min-height: 119px; } 
}

@media screen 
and (max-width: 1000px) 
and (min-width: 750px)
and (orientation: portrait) {

    @media screen 
    and (min-height: 750px) { //Nexus 10
        .ft01 { font-size: 48px; }
        .ft02 { font-size: 35px; }
        .ft03 { font-size: 18px; }
        .ft04 { font-size: 29px; } 
        .ft05 { font-size: 29px !important; } 
        .ft06 { 
            font-size: 29px !important;
            line-height: 25px;
         } 
        .responseSize{ min-height: 119px; } 
    }
    @media screen 
    and (max-height: 750px)
    and (min-height: 600px) {
        .ft01 { font-size: 48px; }
        .ft02 { font-size: 35px; }
        .ft03 { font-size: 18px; }
        .ft04 { font-size: 29px; } 
        .ft05 { font-size: 26px !important; } 
        .ft06 { font-size: 23px !important; } 
        .responseSize{ min-height: 87px; } 
    }
    @media screen 
    and (max-height: 600px)
    and (min-height: 500px) {
        .ft01 { font-size: 48px; }
        .ft02 { font-size: 35px; }
        .ft03 { font-size: 17px; } 
        .ft04 { font-size: 29px; } 
        .ft05 { font-size: 26px !important; } 
        .ft06 { font-size: 21px !important; } 
        .responseSize{ min-height: 73px; } 
    }
}


@media screen 
and (max-width: 750px) 
and (min-width: 600px)
and (orientation: portrait) {

    @media screen 
    and (min-height: 750px) {
        .ft01 { font-size: 24px; }
        .ft02 { font-size: 27px; }
        .ft03 { font-size: 19px; } 
        .ft04 { font-size: 26px; } 
        .ft05 { font-size: 25px !important; } 
        .ft06 { font-size: 23px !important; } 
        .responseSize{ min-height: 119px; } 
    }
    @media screen 
    and (max-height: 750px)
    and (min-height: 600px) {
        .ft01 { font-size: 24px; }
        .ft02 { font-size: 27px; }
        .ft03 { font-size: 18px; } 
        .ft04 { font-size: 26px; } 
        .ft05 { font-size: 22px !important; } 
        .ft06 { font-size: 20px !important; } 
        .responseSize{ min-height: 87px; } 
    }
    @media screen 
    and (max-height: 600px)
    and (min-height: 500px) {
        .ft01 { font-size: 24px; }
        .ft02 { font-size: 27px; }
        .ft03 { font-size: 18px; }
        .ft04 { font-size: 26px; } 
        .ft05 { font-size: 22px !important; } 
        .ft06 { font-size: 18px !important; } 
        .responseSize{ min-height: 73px; } 
    }
    @media screen  // Lumia 550
    and (max-height: 500px) {
        .ft01 { font-size: 24px; }
        .ft02 { font-size: 27px; }
        .ft03 { font-size: 17px; } 
        .ft04 { font-size: 26px; } 
        .ft05 { font-size: 22px !important; } 
        .ft06 { font-size: 18px !important; } 
        .responseSize{ 
            margin-bottom: 5px;
            height: 49px !important;
         } 
    }
}



@media screen 
and (max-width: 600px) 
and (min-width: 400px)
and (orientation: portrait) {

    @media screen  // Pixel2XL
    and (min-height: 750px) {
        .ft01 { font-size: 24px; } // TEXT TRIBUNE
        .ft02 { font-size: 27px; } // TITRE TRIBUNE / TITRE ECRAN CHOIX TRIBUNE
        .ft03 { font-size: 15px; } // SOUS TITRE ECRAN ATTENTE
        .ft04 { font-size: 25px; } // PAGE QUIZ TEXTE NUMERO MANCHE + TIMER
        .ft05 { font-size: 21px !important; } // TEXTE QUESTION PAGE QUIZ
        .ft06 { font-size: 22px !important; } // TEXTE REPONSE PAGE QUIZ
        .responseSize{ min-height: 119px; }
    }
    @media screen 
    and (max-height: 750px) // Pixel2 - iPhone 6/7/8 Plus
    and (min-height: 600px) {
        .ft01 { font-size: 24px; }
        .ft02 { font-size: 27px; }
        .ft03 { font-size: 14px; }
        .ft04 { font-size: 25px; } 
        .ft05 { font-size: 19px !important; }  
        .ft06 { font-size: 19px !important; } 
        .responseSize{ min-height: 87px; } 
    }
    @media screen 
    and (max-height: 600px)
    and (min-height: 500px) {
        .ft01 { font-size: 24px; }
        .ft02 { font-size: 27px; }
        .ft03 { font-size: 13px; }
        .ft04 { font-size: 25px; } 
        .ft05 { font-size: 19px !important; } 
        .ft06 { font-size: 18px !important; } 
        .responseSize{ min-height: 73px; } 
    }
}



@media screen 
and (max-width: 400px) 
and (min-width: 350px)
and (orientation: portrait) {

    @media screen  // iPhone X
    and (min-height: 750px) {
        .ft01 { font-size: 20px; }
        .ft02 { font-size: 23px; }
        .ft03 { font-size: 14px; } 
        .ft04 { font-size: 22px; } 
        .ft05 { font-size: 19px !important; } 
        .ft06 { font-size: 19px !important; } 
        .responseSize{ min-height: 120px; } 
    }
    @media screen 
    and (max-height: 750px) // iPhone 6/7/8 - S3/S5 - Note3 - Lumia 950
    and (min-height: 600px) {
        .ft01 { font-size: 20px; }
        .ft02 { font-size: 23px; }
        .ft03 { font-size: 13px; } 
        .ft04 { font-size: 20px; } 
        .ft05 { font-size: 17.5px !important; } 
        .ft06 { font-size: 15px !important; } 
        .responseSize{ min-height: 88px; } 
    }
    @media screen 
    and (max-height: 600px) // Wiko
    and (min-height: 450px) {
        .ft01 { font-size: 20px; }
        .ft02 { font-size: 23px; }
        .ft03 { font-size: 12px; } 
        .ft04 { font-size: 19px; } 
        .ft05 { font-size: 17px !important; } 
        .ft06 { font-size: 13px !important; } 
        .responseSize{ min-height: 62px; } 
    }
}



@media screen 
and (max-width: 350px) 
and (min-width: 300px)
and (orientation: portrait) {

    @media screen 
    and (max-height: 1000px) 
    and (min-height: 750px) {
        .ft01 { font-size: 17px; }
        .ft02 { font-size: 20px; }
        .ft03 { font-size: 13px; }
        .ft04 { font-size: 18px; } 
        .ft05 { font-size: 17px !important; } 
        .ft06 { font-size: 17px !important; } 
        .responseSize{ min-height: 119px; } 
    }
    @media screen 
    and (max-height: 750px) 
    and (min-height: 600px) {
        .ft01 { font-size: 17px; }
        .ft02 { font-size: 20px; }
        .ft03 { font-size: 12px; } 
        .ft04 { font-size: 18px; } 
        .ft05 { font-size: 16px !important; } 
        .ft06 { font-size: 14px !important; } 
        .responseSize{ min-height: 87px; } 
    }
    @media screen 
    and (max-height: 600px) // iPhone 4/5/SE
    and (min-height: 450px) {
        .ft01 { font-size: 17px; }
        .ft02 { font-size: 20px; }
        .ft03 { font-size: 11px; } 
        .ft04 { font-size: 18px; } 
        .ft05 { font-size: 15px !important; } 
        .ft06 { font-size: 12px !important; } 
        .responseSize{ min-height: 62px; } 
    }
}


@media screen 
and (max-width: 300px)
and (orientation: portrait) {
    .ft01 { font-size: 17px; }
    .ft02 { font-size: 20px; }
    .ft03 { font-size: 12px; }
    .ft04 { font-size: 17px; }
    .ft05 { font-size: 15px !important; }
    .ft06 { font-size: 12px !important; }
}





@media screen and (min-height: 1000px) {
    .s01 { height: 40% !important; } // Logo R&I 360 position
    .s02 { top: 14% !important; } // Attente - Sharing Day + Text
    .pQuizContainer { 
        width: calc(100% - 60px) !important;
        height: calc(100% - 60px) !important;
        padding: 30px !important;
    } // Padding Quiz Container
    // .responseSize{
    //     min-height: 100px;
    // }
    .pictoSize01{
        width: 50px !important;
        height: 50px !important;
    }
    .TSelected{
        background-size: 50px !important;
    }
}
@media screen and (max-height: 1000px) and (min-height: 750px) {
    .s01 { height: 36% !important; }
    .s02 { top: 12% !important; }
    .pQuizContainer { 
        width: calc(100% - 60px) !important;
        height: calc(100% - 60px) !important;
        padding: 30px !important;
    }
    // .responseSize{
    //     min-height: 100px;
    // }
    .pictoSize01{
        width: 50px !important;
        height: 50px !important;
    }
    .TSelected{
        background-size: 50px !important;
    }
}

@media screen and (max-height: 750px) and (min-height: 600px) {
    .s01 { height: 33% !important; }
    .s02 { top: 10% !important; }
    .pQuizContainer { 
        width: calc(100% - 60px) !important;
        height: calc(100% - 60px) !important;
        padding: 30px !important;
    }

    .pictoSize01{
        width: 50px !important;
        height: 50px !important;
    }
    .TSelected{
        background-size: 50px !important;
    }
}

@media screen and (max-height: 600px) and (min-height: 400px) {
    .s01 { height: 26% !important; }
    .s02 { top: 5% !important; }
    .pQuizContainer { 
        width: calc(100% - 30px) !important;
        height: calc(100% - 30px) !important;
        padding: 15px !important;
    }
    // .responseSize{
    //     min-height: 0;
    // }
    .pictoSize01{
        width: 30px !important;
        height: 30px !important;
    }
    .TSelected{
        background-size: 30px !important;
    }
}

@media screen and (max-height: 400px) and (min-height: 250px) {
    .s01 { height: 22% !important; }
    .s02 { top: 0% !important; }
    .pQuizContainer { 
        width: calc(100% - 20px) !important;
        height: calc(100% - 20px) !important;
        padding: 10px !important;

        .monautreClass{
            
        }
    }
    // .responseSize{
    //     min-height: 0;
    // }
    .pictoSize01{
        width: 25px !important;
        height: 25px !important;
    }
    .TSelected{
        background-size: 25px !important;
    }
}