/* --------- BREAK POINTS --------- */
// Extra small devices (portrait phones, less than 576px)
$max-extra-small: 'screen and (max-width: 576px)';
// Small devices (landscape phones, less than 768px)
$max-small: 'screen and (max-width: 768px)';
// Medium devices (tablets, less than 992px)
$max-medium: 'screen and (max-width: 992px)';
// Large devices (desktops, less than 1200px)
$max-large: 'screen and (max-width: 1200px)';
// Large devices (large desktops, more than 1200px)
$max-extra-large: 'screen and (max-width: 1600px)';

/* ------ GIVER SCREEN SIZE ------ */
// Extra small devices (portrait phones, more than 576px)
$min-extra-small: 'screen and (min-width: 576px)';
// Small devices (landscape phones, more than 768px)
$min-small: 'screen and (min-width: 768px)';
// Medium devices (tablets, more than 992px)
$min-medium: 'screen and (min-width: 992px)';
// Large devices (desktops, more than 1200px)
$min-large: 'screen and (min-width: 1200px)';
// Large devices (large desktops, more than 1200px)
$min-extra-large: 'screen and (min-width: 1600px)';




// @media screen 
// and (min-width: 1000px)
// and (orientation: portrait) {
 
// }

// @media screen 
// and (max-width: 1000px) 
// and (min-width: 750px)
// and (orientation: portrait) {

//     @media screen 
//     and (min-height: 750px) { //Nexus 10
    
//     }
//     @media screen 
//     and (max-height: 750px)
//     and (min-height: 600px) {
     
//     }
//     @media screen 
//     and (max-height: 600px)
//     and (min-height: 500px) {
   
//     }
// }


// @media screen 
// and (max-width: 750px) 
// and (min-width: 600px)
// and (orientation: portrait) {

//     @media screen 
//     and (min-height: 750px) {
//     }
//     @media screen 
//     and (max-height: 750px)
//     and (min-height: 600px) {
//     }
//     @media screen 
//     and (max-height: 600px)
//     and (min-height: 500px) {
//     }
//     @media screen  // Lumia 550
//     and (max-height: 500px) {
//     }
// }



// @media screen 
// and (max-width: 600px) 
// and (min-width: 400px)
// and (orientation: portrait) {

//     @media screen  // Pixel2XL
//     and (min-height: 750px) {
//     }
//     @media screen 
//     and (max-height: 750px) // Pixel2 - iPhone 6/7/8 Plus
//     and (min-height: 600px) {
//     }
//     @media screen 
//     and (max-height: 600px)
//     and (min-height: 500px) {
//     }
// }



// @media screen 
// and (max-width: 400px) 
// and (min-width: 350px)
// and (orientation: portrait) {

//     @media screen  // iPhone X
//     and (min-height: 750px) {
//     }
//     @media screen 
//     and (max-height: 750px) // iPhone 6/7/8 - S3/S5 - Note3 - Lumia 950
//     and (min-height: 600px) {
//     }
//     @media screen 
//     and (max-height: 600px) // Wiko
//     and (min-height: 450px) {
//     }
// }



// @media screen 
// and (max-width: 350px) 
// and (min-width: 300px)
// and (orientation: portrait) {

//     @media screen 
//     and (max-height: 1000px) 
//     and (min-height: 750px) {
//     }
//     @media screen 
//     and (max-height: 750px) 
//     and (min-height: 600px) {
//     }
//     @media screen 
//     and (max-height: 600px) // iPhone 4/5/SE
//     and (min-height: 450px) {
//     }
// }


// @media screen 
// and (max-width: 300px)
// and (orientation: portrait) {
// }





// @media screen and (min-height: 1000px) {
// }
// @media screen and (max-height: 1000px) and (min-height: 750px) {
// }

// @media screen and (max-height: 750px) and (min-height: 600px) {
// }

// @media screen and (max-height: 600px) and (min-height: 400px) {
// }

// @media screen and (max-height: 400px) and (min-height: 250px) {
// }


