#homeDashboardContainer{
    height: 100vh;
    width: 100vw;

    mat-toolbar{
        height: 150px;

        .langFlag{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 23px;
            height: 17px;
            background-color: red;
            cursor: pointer;
            border-radius: 2.5px;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .fr{
            background: url(src/assets/images/fr_flag.png);
        }
        .en{
            background: url(src/assets/images/en_flag.png);
        }
    }
    
    .globalContainer{
        height: calc(100% - 150px);
        width: 100%;
    }
}

mat-sidenav-container{
    position: absolute;
    height: calc(100% - 64px);
    width: 100%;

    mat-sidenav{
        padding-left: 25px;
        padding-right: 25px;
        background-color: #263238;
        color: white;


        .matNavContainer{
            .profilContainer{
                img{
                    height: 170px;
                    margin: 5px;
                    border-radius: 50%;
                }
            }
        }
    }
}