@import "src/assets/scss/responsive";
@import "./includes/scene01/scene01";


#homeDashboardContainer{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    mat-toolbar{
        position: relative;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
        z-index: 100;

        button.menu{
            position: absolute;
            right: 40px;

            mat-icon{
                font-size: 40px;
                height: 40px;
                width: 40px;
                display: flex;
                color: #ff5721;
                justify-content: center;
                align-items: center;
            }
        }
        .langFlag{
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            border-radius: 2.5px;
        }
        .toolBarContainer{
            height: 100%;
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .topText{
                color: #ff5721;
                width: calc(100% - 2px);
                height: calc(50% - 2px);
                font-size: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid #ff5722;
                border-right: 2px solid #ff5722;
            }
            .bottomText{
                color: #cccccc;
                width: calc(100% - 2px);
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: 2px solid #ff5722;
                font-size: 27px;
                flex-wrap: wrap;
                
                .txt{
                    display: flex;
                    align-items: center;
                    width: 60%;
                    height: 50%;
                }
            }
        }
    }
    .globalContainer{
        height: calc(100vh - 150px);
        width: 100%;

        #topPage{
            height: 100%;
            width: 100%;
            background-color: #ff5722;  
        }
        #scene01Container{
            height: 100vh;
            width: 100%;
        }
    }

    @media #{$max-extra-large} {
        .langFlag{
            background-color: bisque;
        }
    }
    @media #{$max-large} {
        .langFlag{
            background-color: blue;
        }
    }
    @media #{$max-medium} {
        .langFlag{
            background-color: gold;
        }
    }
    @media #{$max-small} {
        mat-toolbar{
            height: 100px;

            .toolBarContainer{
                width: 250px;
                .topText{
                    font-size: 25px;
                }
                .bottomText{
                    font-size: 15px;
                }
            }
        }
        .globalContainer{
            height: calc(100vh - 100px);
            width: 100%;
        }
        .langFlag{
            background-color: green;
        }
    }
    @media #{$max-extra-small} {
        mat-toolbar{
            justify-content: normal;
        }
        .langFlag{
            background-color: red;
        }
    }




    
}

mat-sidenav-container{
    position: absolute;
    height: calc(100% - 64px);
    width: 100%;

    mat-sidenav{
        padding-left: 25px;
        padding-right: 25px;
        background-color: #263238;
        color: white;


        .matNavContainer{
            .profilContainer{
                img{
                    height: 170px;
                    margin: 5px;
                    border-radius: 50%;
                }
            }
        }
    }
}
