#homeDashboardContainer
  mat-toolbar.example-toolbar(color='primary')
    .langFlag.flag('[ngClass]'="{'flag-fr':translate.currentLang == 'fr', 'flag-gb':translate.currentLang == 'en'}", '(click)'="changeLang()")
    button.menu(mat-icon-button='')
      mat-icon menu
    .toolBarContainer
      .topText {{ '1' | translate }}
      .bottomText
        .txt {{ '2' | translate }}
        .txt {{ '3' | translate }}
  .globalContainer
    #topPage
    #scene01Container
      !=require('./includes/scene01/scene01.pug')
  
//- <div id="homeDashboardContainer">
//-   <mat-toolbar color="primary" class="example-toolbar">
//-     <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
//-     <h1 class="example-app-name">Rémi Frontière</h1>
//-   </mat-toolbar>

//-   //- <mat-sidenav-container class="example-sidenav-container"
//-   //-                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
//-   //-   <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
//-   //-                [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
//-   //-     <div class="matNavContainer">
//-   //-       <div class="profilContainer">
//-   //-         <img src="assets/pictureSmall.png" alt="">
//-   //-       </div>
//-   //-       <mat-nav-list>
//-   //-           <a mat-list-item routerLink=".">Dashboard</a>
//-   //-           <a mat-list-item routerLink="css">CSS</a>
//-   //-       </mat-nav-list>
//-   //-     </div>
//-   //-   </mat-sidenav>



//-     <mat-sidenav-content>
//-       <router-outlet></router-outlet>
//-     </mat-sidenav-content>
//-   </mat-sidenav-container>
//- </div>



