.sceneContainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .fullGateContainer{
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .stargateContainer{
        // margin: 20px;
        overflow: hidden;
        position: absolute;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .stargate-body{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000000;
        // border: 50px solid #27292f;

        // margin: 85px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .stargate-turning-part{
            z-index: 4;
            position: absolute;
            border: 1px solid #313233; //#313233
            height: 440px;
            width: 440px;
            border-radius: 50%;
            background-color: #363a3d;
            transform: rotate(0deg);
            display: flex;
            justify-content: center;
            align-items: center;

            .symbolContainer{
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                // transform: rotate(0deg);
                display: flex;
                justify-content: center;
            }
            .buttonSymbol{
                position: absolute;
                width: 32px;
                height: 31px;
                display: flex;
                border-right: 1px solid #2f2f2f;
                justify-content: center;
                align-items: center;
            }
            .symbol{
                font-family: 'Stargate';
                font-size: 18px;
                font-weight: bold;
                color: #272a2d;
                    /* text-shadow: -2px 2px 0 black, -1px 1px 0 black; */
    /* text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000; */
            }
        }
        .stargate-border-1{
            position: absolute;
            cursor: pointer;
            z-index: 1000;
            height: 385px;
            width: 385px;
            background-color: #363a3d;
            border-radius: 50%;
            border: 1px solid #2f2f2f;
        }
        .stargate-border-2{
            z-index: 2;
            position: absolute;
            cursor: pointer;
            height: 454px;
            border-top: 1px solid #2f2f2f;
            background-color: #363a3d;
            width: 454px;
            border-radius: 50%;
            z-index: 2;
        }
        .stargate-border-3{
            z-index: 2;
            position: absolute;
            cursor: pointer;
            height: 493px;
            border-top: 1px solid #363636;
            background-color: #363a3d;
            width: 493px;
            border-radius: 50%;
            z-index: 1;

            .borderCube{
                width: 8px;
                height: 19px !important;
                border-left: 1px solid #2f2f2f;
                border-radius: 3px !important;

                .cub{
                    font-size: 25px !important;

                }
            }
        }
        .borderCubeContainer {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            
            .borderCube{
                position: absolute;
                width: 8px;
                height: 5px;
                display: flex;
                border-right: 1px solid #2f2f2f;
                justify-content: center;
                overflow: hidden;
                align-items: center;
                color: #2f2f2f;

                .cub {
                    height: 2px;
                    width: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
                }
            }
        }
        .stargate-center{
            border-top: 1px solid #2f2f2f;
            cursor: pointer;
            z-index: 1000;
            height: 375px;
            width: 375px;
            background-color: #2e3d55;
            border-radius: 50%;
        }
    }
    .chevronsContainer{
        z-index: 5;
        height: 100%;
        width: 100%;
    }
    .turnAnimation{
        -webkit-animation:spin 12s linear infinite;
        -moz-animation:spin 12s linear infinite;
        animation:spin 12s linear infinite;
    }
    .chevronContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        transform: rotate(0deg);

        .chevron-border{
            // top: 0;
            // position: absolute;
            width: 90px;
            height: 25px;
            display: flex;
            justify-content: center;
            border-top: 6px solid #363a3d;
        }
        .chevron{
            top: 1px;
            position: absolute;
            // border-style: solid;
            // border-width: 30px 15px 0 15px;
            // border-color: #3a3a3a transparent transparent transparent;
            -webkit-clip-path: polygon(20% 0%, 80% 0%, 55% 100%, 45% 100%);
            clip-path: polygon(20% 0%, 80% 0%, 55% 100%, 45% 100%);
            background-color: #3a3a3a;
            height: 28px;
            width: 50px;
        }
    }
    .chevronBack{
        top: 5px;
        position: absolute;
        // border-style: solid;
        // border-width: 35px 20px 0 20px;
        // border-color: #313131 transparent transparent transparent;
        -webkit-clip-path: polygon(10% 0%, 90% 0%, 65% 100%, 35% 100%);
        clip-path: polygon(10% 0%, 90% 0%, 65% 100%, 35% 100%);
        height: 32px;
        width: 50px;
        background-color:  #313131;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chevronInterior{
        top: 0px;
        position: absolute;
        // border-style: solid;
        // border-width: 22px 11px 0 11px;
        // border-color: #cd251c transparent transparent transparent;
        clip-path: polygon(30% 0%, 70% 0%, 55% 100%, 45% 100%);
        background: linear-gradient(to bottom, #ff7400 0%,#cc222a 100%);
        height: 20px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chevron1Container{
        .chevron1{
        }
    }
    .chevron2Container{
        transform: rotate(45deg);
        .chevron2{

        }
    }
    .chevron3Container{
        transform: rotate(81deg);
        .chevron3{

        }
    }
    .chevron4Container{
        transform: rotate(117deg);
        .chevron4{

        }
    }
    .chevron5Container{
        transform: rotate(161deg);
        .chevron5{

        }
    }
    .chevron6Container{
        transform: rotate(198deg);
        .chevron6{

        }
    }
    .chevron7Container{
        transform: rotate(243deg);
        .chevron7{

        }
    }
    .chevron8Container{
        transform: rotate(279deg);
        .chevron8{

        }
    }
    .chevron9Container{
        transform: rotate(315deg);
        .chevron9{

        }
    }
}


.tabletContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabletContainerVisible{
    z-index: 10000;
}
.tabletBody{
    z-index: 10000;
    cursor: pointer;
    height: 400px;
    width: 550px;
    background: linear-gradient(to right,  #8b8c90 0%,black 100%);
    border-radius: 20px;
    border: 2px solid #e2e2e4;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tabletAppear 1s;
    pointer-events: none;

    .tabletScreen{
        cursor: pointer;
        position: relative;
        height: 80%;
        background-color: black;
        width: 90%;

        .leftAndMidTabletContainer{
            position: absolute;
            left: 0;
            top: 0;
            width: 75%;
            height: 100%;
            color: white;

            .topCT{
                position: absolute;
                left: 0;
                top: 0;
                height: 81%;
                width: 100%;
                .leftTabletContainer{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: calc(25% - 16px);
                    height: calc(100% - 26px);
                    border: 1px solid black;
                    margin: 12px;
                    font-size: 10px;
                    margin-right: 0;

                    .topLeftTabletCT{
                        border: 1px solid #127cab;
                        height: calc(70% - 18px);
                        width: calc(100% - 8px);
                        margin-bottom: 10px;
                        text-align: right;
                        padding: 3px;
                        color: #127cab;
                        overflow: hidden;

                        p{
                            width: 500px;
                            margin: 0;
                            -webkit-animation:slide 10s linear infinite;
                            -moz-animation:slide 10s linear infinite;
                            animation:slide 10s linear infinite;
                        }
                    }
                    .bottomLeftTabletCT{
                        border-right: 1px solid #127cab;
                        border-left: 1px solid #127cab;
                        height: calc(30%);
                        width: calc(100% - 2px);
                    }
                }
                .midTabletContainer{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: calc(75% - 26px);
                    height: calc(100% - 26px);
                    margin: 12px;
                    border: 1px solid #127cab;
                }
            }
            .bottomCT{
                position: absolute;
                left: 0;
                bottom: 0;
                height: 19%;
                width: 100%;
                display: flex;
                align-items: center;

                .first{
                    margin: 10px;
                    margin-right: 5px;
                    margin-top: 0;
                    border: 1px solid #127cab;
                    width: calc(50% - 17px);
                    height: calc(100% - 12px);
                }
                .second{
                    margin: 10px;
                    margin-left: 5px;
                    margin-top: 0;
                    border: 1px solid #127cab;
                    width: calc(25% - 17px);
                    height: calc(100% - 12px); 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap; 
                    
                    .miniCub{
                        width: calc(13.5%);
                        height: calc(19%);
                        border: 1px solid #127cab;
                    }
                    .filled{
                        background-color: #a1d0e4;
                    }
                }
            }
        }

        .rightTabletSlotNumber{
            position: absolute;
            right: 20%;
            top: 0;
            width: calc(5% - 5px);
            height: calc(100% - 20px);
            padding: 2.5px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .chevSlotNumber{
                height: calc(13% - 4px);
                margin: 2px;
                width: 100%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 19px;
            }
        }
        .rightTabletContainer{
            position: absolute;
            right: 0;
            top: 0;
            width: calc(20% - 10px);
            height: calc(100% - 20px);
            padding: 10px;
            padding-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .chevSlot {
                height: calc(13% - 6px);
                border: 1px solid #127cab;
                margin: 2px;
                width: 100%;
                color: white;
            }
        }
    }
}
.tabletBodyHidden{
    pointer-events: inherit !important;
    bottom: -345px;
    animation: tabletDisappear 1s;
}
.buttonCloseTabletContainer{
    position: absolute;
    right: 0;
    height: 100%;
    bottom: 0;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    .buttonTabletSG{
        pointer-events: all;
        height: 30px;
        cursor: pointer;
        width: 15px;
        border: 1px solid #e2e2e4;
        padding: 0;
        margin: 0;
        min-width: 0;
        min-height: 0;
    }
}


@media #{$max-extra-large} {
}
@media #{$max-large} {
}
@media #{$max-medium} {
}
@media #{$max-small} {
}
@media #{$max-extra-small} {
    .fullGateContainer, .tabletContainer{
        width: 150% !important
    }
    .tabletContainer{
        left: 0;
    }
}

@keyframes tabletAppear {
    from {
        bottom: -345px;
    }
    to {
        bottom: 0;
    }
}
@keyframes tabletDisappear {
    from {
        bottom: 0;
    }
    to {
        bottom: -345px;
    }
}
@keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-400px, 0, 0);
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }